<ng-container *ngIf="notification$ | async as notification">
  <ngb-toast
    [header]="notification.header"
    class="bg-danger-subtle position-fixed top-0 end-0 m-3 z-3"
    [autohide]="false"
  >
    {{ notification.message }}
  </ngb-toast>

  <ng-container *ngIf="notification.type === 'authentication'">
    <div
      class="position-fixed top-0 start-0 w-100 h-100 bg-secondary bg-opacity-75 z-2"
      style="backdrop-filter: blur(5px)"
    ></div>
    <app-auth [popup]="true"></app-auth>
  </ng-container>
</ng-container>
