<div class="rounded-3 px-4 py-3 bg-body-secondary shadow-sm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="title" />
  </div>
  <div class="mb-3">
    <label for="tag" class="form-label">Tags</label>
    <div class="d-flex gap-2">
      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="tag"
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
      />
      <button class="btn btn-primary" (click)="onAddTag()">Add</button>
    </div>
    <div class="mt-2 d-flex gap-2">
      <a
        *ngFor="let tag of selectedTags"
        class="btn bg-body position-relative px-3"
        (click)="onDeleteTag(tag)"
        (mouseover)="hoveredTag = tag"
        (mouseleave)="hoveredTag = ''"
      >
        <div>#{{ tag }}</div>
        <ng-icon
          name="bootstrapX"
          class="position-absolute top-0 end-0"
          *ngIf="hoveredTag === tag"
        ></ng-icon>
      </a>
    </div>
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <app-editor [html]="desc"></app-editor>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="blogId ? onEditBlog() : onAddBlog()"
  >
    {{ blogId ? "Update" : "Publish" }}
  </button>
</div>

<div></div>
