.bd-delete-tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 200ms;
}

.bd-delete-tag-container.active {
  transform: translateY(0);
}

.bd-delete-tag {
  font-size: 2rem;
  transform: scale(0);
  transition: all 200ms;
}

.bd-delete-tag.active {
  transform: scale(1);
}
