<nav
  class="position-sticky top-0 navbar navbar-expand-lg bg-body-secondary shadow-sm z-3"
>
  <div class="container">
    <div class="d-flex w-50">
      <a class="navbar-brand" routerLink="/">Bloggist</a>
      <app-search-bar class="flex-grow-1"></app-search-bar>
    </div>
    <ul class="navbar-nav">
      @if (currentUser$ | async; as currentUser) {
        <li class="nav-item">
          <button class="btn btn-outline-primary mx-3" routerLink="/blog/add">
            Create Blog
          </button>
        </li>
        <div class="dropdown">
          <app-preview-avatar
            data-bs-toggle="dropdown"
            [user]="{
              name: currentUser.name,
              avatar: {
                initials: currentUser.avatar.initials,
                color: currentUser.avatar.color,
                bgColor: currentUser.avatar.bgColor,
              },
              settings: {
                headline: currentUser.settings.headline,
                banner: currentUser.settings.banner,
              },
              _id: currentUser._id!,
            }"
          ></app-preview-avatar>
          <ul class="dropdown-menu">
            <li style="cursor: pointer">
              <app-toggle-theme
                class="dropdown-item user-select-none"
              ></app-toggle-theme>
            </li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center gap-2"
                [routerLink]="'/user/' + currentUser._id + '/settings'"
              >
                <ng-icon name="bootstrapGear"></ng-icon>
                Settings
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center gap-2"
                href=""
                (click)="onLogout()"
              >
                <ng-icon name="bootstrapBoxArrowRight"></ng-icon>
                Logout
              </a>
            </li>
          </ul>
        </div>
      } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      }
    </ul>
  </div>
</nav>
