.bd-container {
  position: absolute;
  max-width: 90%;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-group span,
.input-group input {
  border-radius: 0;
}

.input-group:not(:last-child) span,
.input-group:not(:last-child) input:not(:focus) {
  border-bottom-color: transparent;
}

.input-group:first-child span,
.input-group:first-child input {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.input-group:last-child span,
.input-group:last-child input {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
