<div class="bd-container mx-auto rounded-3 px-4 py-3 bg-body-tertiary">
  <div *ngIf="authType === 'register'" class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="email" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      [(ngModel)]="password"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary w-100 text-capitalize"
    (click)="onSubmit()"
  >
    {{ authType }}
  </button>
</div>
