<div class="d-flex gap-4">
  <div ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
    <ng-container ngbNavItem>
      <button ngbNavLink>Blogs</button>
      <ng-template ngbNavContent>
        <app-sort-button item="blog"></app-sort-button>
        <app-view-blogs [userId]="userId"></app-view-blogs>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <button ngbNavLink>Comments</button>
      <ng-template ngbNavContent>
        <app-sort-button item="comment"></app-sort-button>
        <app-view-comments [userId]="userId"></app-view-comments>
      </ng-template>
    </ng-container>
  </div>
  <div class="flex-grow-1" [ngbNavOutlet]="nav"></div>
  <app-preview-user
    style="width: 350px"
    [user]="user"
    *ngIf="user$ | async as user"
  ></app-preview-user>
</div>
