<div class="d-flex gap-5">
  <div class="flex-grow-1">
    <div class="pb-5">
      <div *ngIf="blog$ | async as blog">
        <app-view-avatar
          [initials]="'MH'"
          [name]="blog.user.name"
          [date]="blog.createdAt | date"
        ></app-view-avatar>
        <h1 class="py-3">{{ blog.title }}</h1>
        <div #blogContent [innerHTML]="blog.desc"></div>
      </div>
    </div>

    <app-add-comment [blogId]="blogId"></app-add-comment>
    <app-view-comments [blogId]="blogId"></app-view-comments>
  </div>
  <div *ngIf="blog$ | async as blog">
    <app-table-of-content
      [blogId]="blogId"
      [html]="blog.desc"
    ></app-table-of-content>
  </div>
</div>
