<div *ngIf="blog$ | async as blog; else skeleton">
  <div class="d-flex">
    <div>
      <div class="sticky-top pe-4 z-1" style="top: 8rem">
        <button
          class="bd-btn btn d-flex flex-column gap-2"
          (click)="onToggleLike()"
          [ngbTooltip]="blog.isLiked ? 'Dislike' : 'Like'"
          triggers="hover"
        >
          <div class="position-relative">
            <ng-icon class="fs-4 d-block" name="bootstrapHeart"></ng-icon>
            <ng-icon
              class="position-absolute top-0 start-0 fs-4 text-danger"
              [ngStyle]="{ transform: blog.isLiked ? 'scale(1)' : 'scale(0)' }"
              style="transition: transform 200ms"
              name="bootstrapHeartFill"
            ></ng-icon>
          </div>
          <div class="fs-6">{{ blog.totalLikes }}</div>
        </button>
        <button
          class="bd-btn btn d-flex flex-column gap-2"
          (click)="scroll(comments)"
          ngbTooltip="Comment"
          triggers="hover"
        >
          <ng-icon class="fs-4" name="bootstrapChat"></ng-icon>
          <div class="fs-6">{{ blog.totalComments }}</div>
        </button>
        <button
          class="bd-btn btn d-flex flex-column gap-2"
          (click)="onToggleBookmark()"
          [ngbTooltip]="blog.isBookmarked ? 'Remove Bookmark' : 'Bookmark'"
          triggers="hover"
        >
          <ng-icon
            class="fs-4"
            [ngClass]="{ 'text-primary': blog.isBookmarked }"
            [name]="
              blog.isBookmarked ? 'bootstrapBookmarkFill' : 'bootstrapBookmark'
            "
          ></ng-icon>
          <div class="fs-6">{{ blog.totalBookmarks }}</div>
        </button>
        <button
          class="bd-btn btn d-flex flex-column gap-2"
          (click)="shareBlog()"
          ngbTooltip="Share"
          triggers="hover"
        >
          <ng-icon class="fs-4" name="bootstrapShare"></ng-icon>
        </button>
      </div>
    </div>
    <div class="flex-grow-1 rounded-3 px-5 py-4 bg-body-secondary shadow-sm">
      <div class="pb-5">
        <div>
          <div class="d-flex justify-content-between">
            <app-view-avatar
              [user]="blog.user"
              [date]="blog.createdAt | date"
              [blogReadingTime]="blog.readTime"
            ></app-view-avatar>
            <div ngbDropdown placement="bottom-end" class="d-inline-block">
              <button
                class="btn btn-secondary fs-5 px-2 py-1 text-capitalize hide-arrow d-flex"
                id="dropdownBasic1"
                ngbDropdownToggle
                *ngIf="isAuthor"
              >
                <ng-icon name="bootstrapThreeDots"></ng-icon>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="onEditBlog()">Edit</button>
                <button ngbDropdownItem (click)="onDeleteBlog()">Delete</button>
              </div>
            </div>
          </div>
          <div>
            <a
              class="btn btn-sm bg-body-secondary"
              [routerLink]="['/tag/', tag]"
              *ngFor="let tag of blog.tags"
            >
              #{{ tag }}
            </a>
          </div>
          <h1 class="py-3 fw-bold text-body-emphasis text-capitalize">
            {{ blog.title }}
          </h1>
          <div
            #blogContent
            class="bd-blog-content text-body-emphasis"
            [innerHTML]="blog.desc"
          ></div>
        </div>
      </div>

      <hr #comments />
      <div class="fs-3 fw-bold">
        Comments
        <app-sort-button [item]="'comment'"></app-sort-button>
      </div>
      <app-add-comment [blogId]="blogId"></app-add-comment>
      <app-view-comments [blogId]="blogId"></app-view-comments>
    </div>
    <div class="ms-4" style="min-width: 350px; max-width: 350px">
      <app-preview-user [user]="blog.user"></app-preview-user>
      <div class="mb-4"></div>
      <app-latest-blogs [user]="blog.user" [blogId]="blogId"></app-latest-blogs>
      <div class="mb-4"></div>
      <app-table-of-content
        [blogId]="blogId"
        [html]="blog.desc"
      ></app-table-of-content>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div class="d-flex placeholder-glow">
    <div>
      <div class="sticky-top d-flex flex-column gap-4 pe-4" style="top: 8rem">
        <div
          class="placeholder rounded-2"
          style="width: 50px; height: 50px"
        ></div>
        <div
          class="placeholder rounded-2"
          style="width: 50px; height: 50px"
        ></div>
        <div
          class="placeholder rounded-2"
          style="width: 50px; height: 50px"
        ></div>
      </div>
    </div>
    <div class="flex-grow-1 rounded-3 px-5 py-4 bg-body-secondary">
      <div class="pb-5">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <app-view-avatar [contentLoaded]="false"></app-view-avatar>
            <div
              class="placeholder rounded-2"
              style="width: 60px; height: 45px"
            ></div>
          </div>
          <div class="d-flex flex-column gap-2 py-4">
            <div class="placeholder" style="width: 90%; height: 30px"></div>
            <div class="placeholder" style="width: 30%; height: 30px"></div>
          </div>
          <div class="d-flex flex-column gap-2 pt-2">
            <div class="placeholder" style="width: 95%"></div>
            <div class="placeholder" style="width: 100%"></div>
            <div class="placeholder" style="width: 90%"></div>
            <div class="placeholder" style="width: 99%"></div>
            <div class="placeholder" style="width: 93%"></div>
            <div class="placeholder" style="width: 94%"></div>
            <div class="placeholder mt-3" style="width: 95%"></div>
            <div class="placeholder" style="width: 100%"></div>
            <div class="placeholder" style="width: 90%"></div>
            <div class="placeholder" style="width: 99%"></div>
            <div class="placeholder" style="width: 93%"></div>
            <div class="placeholder" style="width: 94%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ms-4" style="min-width: 350px; max-width: 350px">
      <app-table-of-content [contentLoaded]="false"></app-table-of-content>
    </div>
  </div>
</ng-template>
