<div
  class="d-flex align-items-center gap-2"
  *ngIf="contentLoaded; else skeleton"
>
  <app-preview-avatar [user]="user"></app-preview-avatar>
  <div>
    <div
      class="position-relative fw-bold cursor"
      (mouseover)="showUserPopup = true"
      (mouseleave)="showUserPopup = false"
    >
      <div class="bd-link">{{ user.name }}</div>
      <app-preview-user
        class="bd-preview-user position-absolute bottom-0 rounded-3 border shadow-sm z-3"
        [user]="user"
        *ngIf="showUserPopup"
      ></app-preview-user>
    </div>
    <div class="small">
      {{ date }}
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div class="d-flex align-items-center gap-2">
    <app-preview-avatar [contentLoaded]="false"></app-preview-avatar>
    <div class="d-flex flex-column gap-2">
      <div class="placeholder" style="width: 200px"></div>
      <div class="placeholder" style="width: 80px"></div>
    </div>
  </div>
</ng-template>
