<div class="position-relative">
  <input
    type="text"
    class="form-control w-100"
    placeholder="Search..."
    [formControl]="searchControl"
    (focus)="isInputFocused = true"
    (blur)="isInputFocused = false"
  />
  <ng-container *ngIf="blogs$ | async as blogs">
    <div
      class="position-absolute w-100 rounded-3 shadow-sm border overflow-hidden"
      *ngIf="(isInputFocused || isLinkHovered) && blogs.length"
    >
      <a
        class="bd-link d-block bg-body p-3"
        [routerLink]="['/blog/', blog._id]"
        (mouseover)="isLinkHovered = true"
        (mouseleave)="isLinkHovered = false"
        (click)="isLinkHovered = false"
        *ngFor="let blog of blogs"
      >
        {{ blog.title }}
      </a>
    </div>
  </ng-container>
</div>
