<div
  class="bd-container d-flex flex-column gap-3 mx-auto rounded-3 px-4 py-3 bg-body z-3"
  style="max-width: 50%"
>
  <div>
    <label for="headline" class="form-label">Headline</label>
    <input
      type="text"
      class="form-control"
      id="headline"
      [(ngModel)]="headline"
    />
  </div>
  <div>
    <label for="banner" class="form-label">Banner</label>
    <input type="color" class="form-control" id="banner" [(ngModel)]="banner" />
  </div>
  <button type="submit" class="btn btn-primary w-100" (click)="submit()">
    Save Settings
  </button>
</div>
