$primary: #6d4aff;
$focus-ring-color: $primary;
$focus-ring-width: 2px;

.dropdown button::after {
  display: none;
}

.btn:focus,
.btn:active {
  border-color: transparent !important;
}

.bd-link:hover {
  color: $primary !important;
  transition: color 200ms;
}

.bd-blog-content img {
  max-width: 100%;
  border-radius: 0.7rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
