$primary: #6d4aff;
$focus-ring-color: $primary;
$focus-ring-width: 2px;

.bd-link {
  color: var(--bs-body-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.bd-link:hover {
  color: $primary !important;
  transition: color 200ms;
}

.bd-blog-content img {
  max-width: 100%;
  border-radius: 0.7rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
