<div
  class="rounded-3 p-3 mb-2"
  [ngClass]="{
    border: blogId,
    'bg-body-secondary shadow-sm': !blogId,
  }"
  [style]="'margin-left: ' + indent * 30 + 'px'"
>
  <div class="d-flex justify-content-between">
    <app-view-avatar
      [user]="comment.user"
      [date]="comment.createdAt | date"
    ></app-view-avatar>
    <div
      class="d-flex bg-danger-subtle rounded-3"
      *ngIf="blogId && isAuthor && !comment.isDeleted"
    >
      <button class="btn btn-sm" (click)="onDeleteComment()">Delete</button>
    </div>
  </div>
  <div class="d-flex flex-column gap-2 mt-2 ms-5">
    @if (comment.isDeleted) {
      <div class="fst-italic">Comment deleted by user</div>
    } @else {
      <div>
        {{ comment.comment }}
      </div>
    }
    <div class="d-flex" *ngIf="blogId && !isReplying">
      <button class="btn d-flex gap-2" (click)="onToggleLike()">
        <div class="position-relative d-flex align-items-center">
          <ng-icon class="text-body" name="bootstrapHeart"></ng-icon>
          <ng-icon
            class="position-absolute top-50 start-50 text-danger"
            [ngStyle]="{ transform: comment.isLiked ? 'scale(1)' : 'scale(0)' }"
            style="transition: transform 200ms; translate: -50% -50%"
            name="bootstrapHeartFill"
          ></ng-icon>
        </div>
        <div *ngIf="comment.totalLikes">
          {{ comment.totalLikes }}
          {{ comment.totalLikes > 1 ? "Likes" : "Like" }}
        </div>
      </button>
      <button
        class="btn d-flex align-items-center gap-2"
        (click)="isReplying = true"
      >
        <ng-icon name="bootstrapReply"></ng-icon>
        <div>Reply</div>
      </button>
    </div>

    <div *ngIf="isReplying">
      <div class="mb-3">
        <textarea
          class="form-control"
          id="comment"
          placeholder="Write reply..."
          [(ngModel)]="reply"
        ></textarea>
      </div>
      <div class="mb-3 d-flex gap-2">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="onCancelReply()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" (click)="onAddReply()">
          Reply
        </button>
      </div>
    </div>
  </div>
</div>

<app-preview-comment
  *ngFor="let reply of comment.replies"
  [indent]="indent + 1"
  [comment]="reply"
  [blogId]="blogId"
></app-preview-comment>
