<div
  class="border rounded-3 p-3 mb-2"
  [style]="'margin-left: ' + indent * 30 + 'px'"
>
  <div class="d-flex justify-content-between">
    <app-view-avatar
      [user]="comment.user"
      [date]="blog.createdAt | date"
    ></app-view-avatar>
    <div
      class="d-flex bg-danger-subtle rounded-3"
      *ngIf="isAuthor && !comment.isDeleted"
    >
      <button class="btn btn-sm" (click)="onDeleteComment()">Delete</button>
    </div>
  </div>
  <div class="d-flex flex-column gap-2 mt-2 ms-5">
    @if (comment.isDeleted) {
      <div class="fst-italic">Comment deleted by user</div>
    } @else {
      <div>
        {{ comment.comment }}
      </div>
    }
    <div class="d-flex" *ngIf="!isReplying">
      <button
        class="btn d-flex align-items-center gap-2"
        (click)="onToggleLike()"
      >
        <ng-icon
          class="text-danger"
          [class]="comment.isLiked ? 'text-danger' : 'text-body'"
          [name]="comment.isLiked ? 'bootstrapHeartFill' : 'bootstrapHeart'"
        ></ng-icon>
        <div *ngIf="comment.totalLikes">
          {{ comment.totalLikes }}
          {{ comment.totalLikes > 1 ? "Likes" : "Like" }}
        </div>
      </button>
      <button
        class="btn d-flex align-items-center gap-2"
        (click)="isReplying = true"
      >
        <ng-icon name="bootstrapReply"></ng-icon>
        <div>Reply</div>
      </button>
    </div>

    <div *ngIf="isReplying">
      <div class="mb-3">
        <textarea
          class="form-control"
          id="comment"
          placeholder="Write reply..."
          [(ngModel)]="reply"
        ></textarea>
      </div>
      <div class="mb-3 d-flex gap-2">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="onCancelReply()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" (click)="onAddReply()">
          Reply
        </button>
      </div>
    </div>
  </div>
</div>

<app-preview-comment
  *ngFor="let reply of comment.replies"
  [indent]="indent + 1"
  [comment]="reply"
  [blog]="blog"
></app-preview-comment>
