<div class="d-flex gap-4">
  <div (mouseleave)="currentHoveredButton = currentFocusedButton">
    <div
      ngbNav
      #nav="ngbNav"
      class="bd-sidebar nav-pills"
      orientation="vertical"
    >
      <ng-container ngbNavItem>
        <button
          class="bd-sidebar-hover shadow-sm"
          [style.--current-button]="currentHoveredButton"
          ngbNavLink
        >
          Hover Effect
        </button>
        <button
          ngbNavLink
          (click)="currentFocusedButton = 0"
          (mouseover)="currentHoveredButton = 0"
        >
          <ng-icon name="bootstrapHouseDoor"></ng-icon>
          Home
        </button>
        <ng-template ngbNavContent>
          <app-view-blogs></app-view-blogs>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <button
          ngbNavLink
          (click)="currentFocusedButton = 1"
          (mouseover)="currentHoveredButton = 1"
        >
          <ng-icon name="bootstrapBookmark"></ng-icon>
          Bookmarks
        </button>
        <ng-template ngbNavContent>
          <app-view-blogs isBookmarked="true"></app-view-blogs>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <button
          ngbNavLink
          (click)="currentFocusedButton = 2"
          (mouseover)="currentHoveredButton = 2"
        >
          <ng-icon name="bootstrapPersonAdd"></ng-icon>
          Following
        </button>
        <ng-template ngbNavContent>
          <app-view-blogs isFollowing="true"></app-view-blogs>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <button
          ngbNavLink
          (click)="currentFocusedButton = 3"
          (mouseover)="currentHoveredButton = 3"
        >
          <ng-icon name="bootstrapTags"></ng-icon>
          Tags
        </button>
        <ng-template ngbNavContent>
          <app-view-tags></app-view-tags>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div class="flex-grow-1" [ngbNavOutlet]="nav"></div>
</div>
